@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    position: relative;
    background-color: black;
    width: auto;
    height: auto;
    color: #fff;
}

.grid {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    grid-template-rows: 50px auto 3000px;
    grid-template-columns: 100%;
}

.header {
    grid-area: header;
    margin: 0px;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    background-color: #171313;
    margin-top: 1500px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: normal;
}

h2 {
    font-family: 'Roboto', sans-serif, Helvetica;
}

p {
    font-family: 'Roboto', sans-serif, Helvetica;
}

a {
    text-decoration: none;
}

ul {
    text-align: center;
    list-style: none;
}

.LText {
    text-align: center;
    color: #f2f2f2;
    font-family: 'Roboto', sans-serif, Helvetica;
}

.BText {
    color: #f2f2f2;
    font-family: 'Roboto', sans-serif, Helvetica;
    text-align: left;
}

.menu {
    overflow: hidden;
    background-color: #171313;
    /*background-color: #333;*/
}

.menu a {
    float: left;
    color: #f2f2f2;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto', sans-serif, Helvetica;
}

.menu a:hover {
    background-color: #03030D;
    border-bottom: 3px solid #8C530D;
    color: white;
}


.menu a.active {
    border-bottom: 3px solid #F2BD1D;
}

.Flota {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    box-sizing: border-box;
}

.Izq {
    padding: 10px;
    box-sizing: border-box;
    width: 33%;
    /*background-color: aquamarine;*/
}

.Cent {
    padding: 10px;
    box-sizing: border-box;
    width: 33%;
    /*background-color: aquamarine;*/
}

.Der {
    padding: 10px;
    box-sizing: border-box;
    width: 33%;
    /*background-color: aquamarine;*/
}

.Larg {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    /*background-color: chartreuse;*/
}

.Mit1 {
    padding: 10px;
    box-sizing: border-box;
    width: 49%;
    /*background-color: blueviolet;*/
}

.Img {
    width: -webkit-fill-available;
    height: 600px;
    border-radius: 2%;
}

.ImgBaj {
    width: -webkit-fill-available;
    height: 440px;
    border-radius: 2%;

}

.ImgInic {
    width: -webkit-fill-available
}

.redes {
    height: 50px;
    width: 50px;
}

.Up {
    top: 6%;
    left: 0%;
}

span {
    margin-left: 15px;
    position: absolute;
    top: 9%;
    right: 50%;
    font-size: 24px;
    color: #f2f2f2;
    padding: 10px;
    font-family: Helvetica;
}

.Centro {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

/* Cuenta */

.perf {
    height: 250px;
    width: 250px;
    border-radius: 2%;
}

/* Precios */

.Table {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
}

.Info {
    margin-top: 50px;
}

.TText {
    text-align: center;
    color: #f2f2f2;
    font-family: 'Roboto', sans-serif, Helvetica;
    margin-bottom: 50px;
}

.Boton {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: cente
}

.Botext {
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif, Helvetica;
    margin-bottom: 50px;
}

.Botoncito {
    background-color: #F2BD1D;
    padding: 0px 135px 0px 135px;
    color: #03030D;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

textarea {
    width: 645px;
    height: 20px;
    font-family: 'Roboto', sans-serif, Helvetica;
    font-size: 16px;
    border: 4px solid #F2BD1D;
    padding: 10px;
    resize: none;
}

.Botoni {
    margin-left: 10px;
}

.planes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.plan {
    background-color: #171313;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: left;
    color: #fff;
}

.plan h2 {
    margin-top: 0;
    font-size: 24px;
    color: #fff;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.plan.premium h2 {
    background: linear-gradient(to right, #1f1c2c, #928dab);
}

.plan.standard h2 {
    background: linear-gradient(to right, #642b73, #c6426e);
}

.plan.standard-ads h2 {
    background: linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b);
}

.plan .price {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    margin: 20px 0;
}

.plan p {
    margin: 10px 0;
}

.plan p strong {
    display: block;
    margin-top: 5px;
    font-weight: normal;
    color: #fff;
}

/* Inicio de sesion */

.Sesion {
    max-width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    text-align: center;
}

.BotoncitoS {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #F2BD1D;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
}

.Caja {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.Division {
    margin: 20px 0;
    font-size: 14px;
}

.Codigo {
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.25);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.Sincope {
    display: block;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.Sincope:hover {
    text-decoration: underline;
}

.Recuerda {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.Recuerda input {
    margin-right: 5px;
}

.Youtube {
    margin-top: 20px;
    font-size: 14px;
}

.Youtube a {
    color: #fff;
    text-decoration: none;
}

.Youtube a:hover {
    text-decoration: underline;
}