@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    background-color: black;
    color: #fff;
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #171313;
}

.header .logo {
    font-size: 24px;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
}

.nav a {
    color: white;
    text-decoration: none;
}

footer {
    grid-area: footer;
    text-align: center;
    padding: 16px;
    background-color: #333;
}

@media (min-width: 801px) and (max-width: 1024px) {
    .nav ul {
        gap: 12px;
    }

    .header .logo {
        font-size: 22px;
    }

    header,
    footer {
        padding: 12px;
    }
}

@media (max-width: 800px) {
    .nav ul {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .header .logo {
        font-size: 20px;
    }

    header,
    footer {
        padding: 10px;
    }
}