@media only screen and (max-width: 800px) {

    .menu a {
        float: none;
        display: block;
        text-align: center;
        padding: 15px 0;
        height: 63px;
    }

    .Flota,
    .Boton {
        flex-direction: column;
        align-items: center;
    }

    .Izq,
    .Cent,
    .Der,
    .Mit1,
    .Larg {
        width: 100%;
    }

    .Table {
        margin: 50px 20px;
    }

    .plan {
        width: 100%;
    }

    .Img,
    .ImgBaj,
    .ImgInic {
        width: 100%;
        height: auto;
    }

    .footer {
        margin-top: 3200px;
    }
}