@media only screen and (min-width: 801px) and (max-width: 1024px) {

    .menu a {
        float: left;
        padding: 15px 20px;
        font-size: 16px;
    }

    .Flota,
    .Boton {
        flex-direction: row;
        align-items: center;
    }

    .Izq,
    .Cent,
    .Der,
    .Mit1,
    .Larg {
        width: 100%;
        flex: 1 1 45%;
    }

    .Table {
        margin: 50px auto;
        width: 90%;
    }

    .plan {
        width: 45%;
    }

    .Botoncito {
        padding: 10px 80px;
        font-size: 14px;
    }

    textarea {
        height: 80px;
        padding: 5px;
    }

    .Img,
    .ImgBaj,
    .ImgInic {
        width: 50%;
        height: auto;
    }

    .footer {
        margin-top: 1000px;
    }

    .Up {
        top: 2%;
    }

    span {
        top: 3%;
    }

}