@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 15px 10px 10px 10px;
    position: relative;
    background-color: black;
}

p {
    color: #f2f2f2;
    font-family: 'Roboto', sans-serif, Helvetica;
}

a{
    text-decoration: none;
}

.nav {
    overflow: hidden;
    background-color: #171313;
    /*background-color: #333;*/
    position: fixed;
}

.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    margin: 0px;
    padding: 14px 17px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto', sans-serif, Helvetica;
}

.nav a:hover {
    background-color: #03030D;
    border-bottom: 3px solid #8C530D;
    color: white;
}


.nav a.active {
    border-bottom: 3px solid #F2BD1D;
}
